!!! 5
%html{:lang => "en-US"}
  %head
    = render "shared/head"
  %body
    .l-page
      .l-page
        .b-header
          
        .g-limit.g-centered
          = yield
          
    .l-page-bottom
      .g-limit.g-centered
        .l-view
          .b-footer
            